@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    font-family: "Outfit", serif;
}
body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1 {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
}
a {
    padding: 4vw;
    border: .1vw;
    border-radius: .1vw;
    margin-top: 40vh;
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #4d4d4d;
}